/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (max-width: 1200px)
{
// overview
.overview {
	.item {
		width: 48%;
	}
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px)
{
// main navbar
.main-navbar {
	height: 70px;

	// navbar list
	.navbar-list {
		position: absolute;
		top: 70px;
		right: 0px;
		height: calc(100vh - 70px);
		width: 200px;
		background-color: white;
		display: flex;
		flex-direction: column;
		border-top: 1px solid;
		padding-top: 1rem;
		transform: scale(0);
		transition: all 0.3s ease-in-out;
		z-index: 1000;

		.nav-link {
			color: $c-dark;
			padding: unset;
			margin: unset;
			width: 100% !important;
			height: 50px !important;
			justify-content: flex-start !important;

			&:hover, &.active {
				color: $c-main;
				border: none;
			}
		}

		form {
			display: flex;
			justify-content: flex-start !important;
		}
	}

	// navbar bars
	.navbar-bars {
		display: block;
		cursor: pointer;
		font-size: 1.2rem
	}
}

}

/* Large devices (laptops/desktops, 767px and up) */
@media only screen and (max-width: 767px)
{
// overview
.overview {
	.item {
		width: 100%;
	}
}

// cpanel create page
.create-page {
	.create-category, .create-post {
		padding: 1rem
	}
}

// posts
.posts-page {
	.post {
		padding: 1rem;
	}
}

// comments
.comments-page {
	.comment {
		padding: 1rem;
	}
}

// messages
.messages-page {
	.message{
		padding: 1rem;
	}
}

// profile-page
.profile-page {
	.container {
		padding: 1rem !important;
	}
}
}